@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

body {
    font-family: "Cinzel", serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}