@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

body {
    font-family: "Cinzel", serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

p {
    font-size: 20px;
}

.story-image {
    width: 100%;
    border-radius: 10px;
    max-height: 300px;
    object-fit: cover;
}

a {
    color: #0066cc;
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}